.App {
  display: flex;
  flex-direction: column;
}

.App-header {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  color: white;
  /* background-color: rgb(247 242 238); */
  padding: 10px;
  box-shadow: 0 2px 4px -2px rgb(0 0 0 / 38%);
}

.searchbar-container {
  display: flex;
  flex-direction: row;
}

.search-bar-end-icon-container{
  display: flex;
}

.searchbar {
  width: 30em;
  height: 2.25em;
  border-top-left-radius: 15px !important;
  border-bottom-left-radius: 15px !important;
  border-width: 0px !important;
  background-color: whitesmoke !important;
  border-right: 0px !important;
  text-indent: 0.75em;
  border-left-color: white;
  border-top-color: white;
  border-bottom-color: #ababab;
}

.searchbar-input-container {
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  border-width: 1px;
  border: 1px solid #ababab;
  background-color: whitesmoke;
}

.searchbar:focus {
  outline: none !important;
  box-shadow: none !important;
}

.form-control {
  width: 30em !important;
  height: 2em !important;
}

.search-bar-end {
  background-color: whitesmoke;
  border-top: 1px solid #ababab;
  border-left: 0px;
  border-bottom: 1px solid #ababab;
  border-right: 1px solid #ababab;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  display:flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.search-bar-button {
  background-color: whitesmoke;
  border: 0px;
}

.App-main {
  display: flex;
  flex-direction: row;
}

.App-graph {
  flex-grow: 10;
}

.download-logo-container {
  display: flex;
}

.settings-container {
  display: flex;
  flex-direction: row;
}

.azure-upload-container {
  display: flex;
  margin-right: 1em;
  color: rgb(255,106,0);
}

.App-sidebar {
  /* box-shadow: -2px 0 2px -2px rgba(0,0,0,.2); */
  flex-grow: 3;
  flex-basis: 10em;
  /* margin-top: 1em; */
  border: 1px solid lightgrey;
  /* border-top-left-radius: 10px;
  border-bottom-left-radius: 10px; */
}

.note-main {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 2em;
}

.notas-logo {
  height: 1.25em;
  width: auto;
  /*box-shadow: 0px 0px 10px #fff;*/
}

.filter-logo {
  width: 1.5em;
  
  margin-left: 10px; /*Not good to put it here*/
  margin-right: 10px; /*Not good to put it here*/
  /*box-shadow: 0px 0px 10px #fff;*/
}

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */
